.header {
  padding: 42px 0 40px 0;
  border-bottom: 1px solid #DCDCF3;

  .container {
    display: flex;
    justify-content: space-between;

    .profile {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      .profile-info {
        .profile-user {
          font-size: 18px;
          line-height: 18px;
        }

        .profile-logout {
          font-size: 12px;
          line-height: 12px;
        }
      }
    }
  }
}

